<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="ALMClientTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<section name="ALMConfigurationSection" type="ALMRestClient.Configuration.ALMConfigurationSection, ALMRestClient, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
	</configSections>
	<ALMConfigurationSection>
		<ALMConfigurations>
			<ALMConfiguration majorVersion="11" minorVersion="20">
				<!-- Settings -->
				<setting name="IsSessionRequired" value="true"/>
				<setting name="IsLogoutRequired" value="true"/>
				<setting name="SessionCookieName" value="XSRF-TOKEN" type="Setting"/>
				<setting name="TokenCookieName" value="LWSSO_COOKIE_KEY" type="Setting"/>
				<!-- Address -->
				<setting name="Login" value="/qcbin/authentication-point/authenticate" type="Address"/>
				<setting name="Logout" value="/qcbin/authentication-point/logout" type="Address"/>
				<setting name="LockEntity" value="/qcbin/rest/domains/{domain}/projects/{project}/{Entity Type}/{Entity ID}/lock" type="Address"/>
				<setting name="EntityCollection" value="/qcbin/rest/domains/{domain}/projects/{project}/{Entity Type}s" type="Address"/>
				<setting name="Entity" value="/qcbin/rest/domains/{domain}/projects/{project}/{Entity Type}/{Entity ID}" type="Address"/>
				<setting name="IsAuthenticated" value="/qcbin/rest/is-authenticated" type="Address"/>
				<setting name="SessionAddress" value="/qcbin/rest/site-session" type="Address"/>
			</ALMConfiguration>
			<ALMConfiguration majorVersion="12" minorVersion="20">
				<!-- Settings -->
				<setting name="IsSessionRequired" value="true"/>
				<setting name="IsLogoutRequired" value="true"/>
				<setting name="SessionCookieName" value="XSRF-TOKEN" type="Setting"/>
				<setting name="TokenCookieName" value="LWSSO_COOKIE_KEY" type="Setting"/>
				<!-- Address -->
				<setting name="Login" value="/qcbin/authentication-point/authenticate" type="Address"/>
				<setting name="Logout" value="/qcbin/authentication-point/logout" type="Address"/>
				<setting name="LockEntity" value="/qcbin/rest/domains/{domain}/projects/{project}/{Entity Type}/{Entity ID}/lock" type="Address"/>
				<setting name="EntityCollection" value="/qcbin/rest/domains/{domain}/projects/{project}/{Entity Type}s" type="Address"/>
				<setting name="Entity" value="/qcbin/rest/domains/{domain}/projects/{project}/{Entity Type}/{Entity ID}" type="Address"/>
				<setting name="IsAuthenticated" value="/qcbin/rest/is-authenticated" type="Address"/>
				<setting name="SessionAddress" value="/qcbin/rest/site-session" type="Address"/>
			</ALMConfiguration>
		</ALMConfigurations>
	</ALMConfigurationSection>
	<userSettings>
		<ALMClientTests.Properties.Settings>
   <setting name="ALMAddress" serializeAs="String">
    <value />
   </setting>
   <setting name="ALMPassword" serializeAs="String">
    <value />
   </setting>
   <setting name="ALMUserName" serializeAs="String">
    <value />
   </setting>
  </ALMClientTests.Properties.Settings>
	</userSettings>
</configuration>